# OS
.DS_Store

# Logs
logs
*.log

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
db.sqlite3

# Django media/uploads
server/placement/media/

# Env
.env

# Editor
.vscode/
.idea/

# Files
*.pdf
*.jpg
*.jpeg
*.png
temp_auto_push.bat
temp_interactive_push.bat
